@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC&family=Lato&family=Montserrat&family=Open+Sans&family=Roboto&family=Source+Sans+Pro&family=Ubuntu&display=swap');



.fontLato{
    font-family: 'Lato', sans-serif;
}



.fontOpenSans{
    font-family: 'Open Sans', sans-serif;
}


.fontMontserrat{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}



.fontRoboto{
    font-family: 'Roboto', sans-serif;
}



.fontSource{
    font-family: 'Source Sans Pro', sans-serif;
}


.fontEncode{
    font-family: 'Encode Sans SC', sans-serif;
}



.fontUbuntu{
    font-family: 'Ubuntu', sans-serif;
}





